apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "minecraft-operator.fullname" . }}-manager-role
  labels:
    {{- include "minecraft-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - papermcservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - papermcservers/finalizers
  verbs:
  - update
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - papermcservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - plugins
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - plugins/finalizers
  verbs:
  - update
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - plugins/status
  verbs:
  - get
  - patch
  - update
