---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "minecraft-operator.fullname" . }}-manager-role
  labels:
    {{- include "minecraft-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - papermcservers
  - plugins
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - papermcservers/finalizers
  - plugins/finalizers
  verbs:
  - update
- apiGroups:
  - mc.k8s.lex.la
  resources:
  - papermcservers/status
  - plugins/status
  verbs:
  - get
  - patch
  - update
